.contenido-nosotros {
  @include tablet {
    @include grid(2, 2rem);
  }

  .texto-nosotros blockquote {
    font-size: 2.2rem;
    font-weight: $black;
    margin: 0;
    padding: 3rem 0 1rem 0;
    text-align: center;
    @include tablet {
      text-align: left;
      padding: 1rem 0 3rem 0;
    }
  }
  p {
    line-height: 2;
  }
}
